In [2]:
import numpy as np
import pandas as pd

## Series
Series是一种类似于一维数组的对象，它由一组（类似NumPy数据类型的）数据以及一组与之相关的数据标签（即索引）组成

In [4]:
obj = pd.Series([4, 5, -7, 3]) #with index
obj

0    4
1    5
2   -7
3    3
dtype: int64

In [21]:
obj2 = pd.Series([1,2,3,4,5], index=['A', 'B', 'C', 'D', 'E'])
print(obj2)
print('by iloc: obj2.iloc[3]=', obj2.iloc[3]) #by index
print(obj2.index)
print("by label: obj2['A']=", obj2['A']) #by label

obj2[['C', 'B', 'E']]

A    1
B    2
C    3
D    4
E    5
dtype: int64
by iloc: obj2.iloc[3]= 4
Index(['A', 'B', 'C', 'D', 'E'], dtype='object')
by label: obj2['A']= 1

C    3
B    2
E    5
dtype: int64

In [23]:
obj2[obj2 % 2 != 0]  # 如用布尔型数组进行过滤、标量乘法、应用数学函数等，都会保留索引值的链接

A    1
C    3
E    5
dtype: int64

In [24]:
obj2 * 2

A     2
B     4
C     6
D     8
E    10
dtype: int64

In [25]:
np.exp(obj2)

A      2.718282
B      7.389056
C     20.085537
D     54.598150
E    148.413159
dtype: float64

In [26]:
'b' in obj2

False

In [27]:
sdata = {"ohio": 35000, "Texas": 71000, "Oregon": 16000, "Utah": 5000}

obj3 = pd.Series(sdata)
obj3

ohio      35000
Texas     71000
Oregon    16000
Utah       5000
dtype: int64

In [28]:
states = ['California', 'ohio', 'Oregon', 'Texas']

obj4 = pd.Series(sdata, index=states)
obj4

California        NaN
ohio          35000.0
Oregon        16000.0
Texas         71000.0
dtype: float64

In [29]:
pd.isna(obj4)

California     True
ohio          False
Oregon        False
Texas         False
dtype: bool

In [30]:
obj4.isna()

California     True
ohio          False
Oregon        False
Texas         False
dtype: bool

In [31]:
obj3 + obj4

California         NaN
Oregon         32000.0
Texas         142000.0
Utah               NaN
ohio           70000.0
dtype: float64

In [32]:
obj4.name = 'population'
obj4.index.name='state'
obj4

state
California        NaN
ohio          35000.0
Oregon        16000.0
Texas         71000.0
Name: population, dtype: float64

In [33]:
obj.index = ['Bob', 'Steve', 'Jeff', 'Ryan']
obj

Bob      4
Steve    5
Jeff    -7
Ryan     3
dtype: int64